<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>

    <h1>{{ @title }}</h1>

    <p>You are logged in as {{ @username }} with password {{ @password }}</p>
    <p>Testing...</p>

    <h2>Temperature</h2>
    <p>Fahrenheit: {{ @temp }}</p>
    <p>Celsius: {{ round((@temp-32) * (5/9), 2) }}</p>

    <p>I like {{ @color }}</p>
    <p>The circumference of a circle is {{ round(@radius * 2 * pi(), 2) }}</p>

    <h2>Bookmarks</h2>
    <repeat group="{{ @bookmarks }}" value="{{ @bookmarks }}">
        <p>{{ @bookmarks }}</p>
    </repeat>

    <h2><strong>Dessert Options</strong></h2>
    <repeat group="{{ @desserts }}" key="{{ @val }}" value="{{ @text }}">
        <input type="checkbox" value="{{ @val }}"> {{ @text }} <br>
    </repeat>

    <h2>Conditional Content</h2>
    <check if="{{ @preferredCustomer }}">
        <true>
            <strong>Thank you!</strong>
        </true>
        <false>
            <strong>You are missing out!</strong>
        </false>
    </check>

    <check if="{{ @lastLogin > strtotime('-1 month') }}">
        <true><p>Welcome back!</p></true>
        <false><p>It's been a while</p></false>
    </check>
</body>
</html>